<div class="big-wrapper">
  <h1>Your Library</h1>
  <div class="searchbox">
    <%= form_tag albums_search_path %>
      <%= text_field_tag :querystring, params[:querystring] %>
      <%= submit_tag 'Search' %>
  </div>
  <% if @albums.empty? %>
    <p>No albums matched your search "<%= params[:querystring] %>"</p>
  <% else %>
  <library class="container">
    <p>Albums matching your search "<%= params[:querystring] %>"</p>
    <ul>
      <%= render :partial => 'album', :collection => @albums %>
    </ul>
  </library>
  <% end %>
</div>